apiVersion: apps/v1
kind: Deployment
metadata:
  name: sidekiq
  namespace: silverwin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sidekiq
  template:
    metadata:
      labels:
        app: sidekiq
    spec:
      containers:
        - name: sidekiq
          image: matejci/silverwin:latest
          env:
            - name: RAILS_ENV
              value: production
            - name: POSTGRES_HOST
              value: postgres
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: REDIS_URL
              value: redis://redis:6379/0
            - name: RAILS_SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: rails-secret
                  key: RAILS_SECRET_KEY_BASE
            - name: RAILS_MASTER_KEY
              valueFrom:
                secretKeyRef:
                  name: rails-master-key
                  key: RAILS_MASTER_KEY
          command: ["bundle", "exec", "sidekiq"]
